
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width&#x3D;device-width,&#x20;initial-scale&#x3D;1,&#x20;shrink-to-fit&#x3D;no">
    <meta name="description" content="Nagem,&#x20;seu&#x20;multicanal&#x20;de&#x20;compras.&#x20;Os&#x20;melhores&#x20;pre&#xE7;os&#x20;em&#x20;Inform&#xE1;tica,&#x20;Eletr&#xF4;nicos,&#x20;Eletrodom&#xE9;sticos,&#x20;Papelaria,&#x20;Escolar,&#x20;Escrit&#xF3;rio&#x20;e&#x20;Telefonia.&#x20;A&#x20;gente&#x20;entende.&#x20;A&#x20;gente&#x20;vende.">
    <meta name="resource-type" content="document">
    <meta name="robots" content="all">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="author" content="Nagem">
    <meta name="Abstract" content="Nagem&#x3A;">
    <meta name="keywords" content="Nagem,&#x20;Multicanal,&#x20;Nordeste,&#x20;Eletrodom&#xE9;sticos,&#x20;Eletr&#xF4;nicos,&#x20;Telefonia,&#x20;Inform&#xE1;tica,&#x20;Escrit&#xF3;rio,&#x20;Papelaria">
    <meta name="google-signin-client_id" content="455670467889-o2neiee9fac9o7lscqubkipb8kljr7ne.apps.googleusercontent.com">
    <meta name="theme-color" content="&#x23;00488d">
    <meta http-equiv="X-UA-Compatible" content="IE&#x3D;edge">
    <meta http-equiv="Content-Type" content="text&#x2F;html&#x3B;charset&#x3D;utf-8">

    <title>Nagem - Pedido 123</title>

    <link rel="preload" as="style" href="{{ asset('build/assets/app-BPtbuyTf.css') }}" />
    <link rel="modulepreload" href="{{ asset('build/assets/app-z-Rg4TxU.js') }}" />
    <link rel="stylesheet" href="{{ asset('build/assets/app-BPtbuyTf.css') }}"  />
    <script type="module" src="{{ asset('build/assets/app-z-Rg4TxU.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <link href="//static.nagem.com.br/util/artefatos/asset/n/14061596550691/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    </head>
<body class="text-gray-900 bg-white">
    <div class="flex flex-col min-h-screen">
            <header class="sticky top-0 z-10 flex flex-col bg-white">
        <div class="flex items-center justify-center w-full px-4 py-8 mx-auto bg-primary">
            <a class="pr-6 md:pr-12" href="/">
                <span class="hidden" itemprop="name">Nagem.com.br</span>
                <img class="w-[88px] md:w-[134px]" src="//static.nagem.com.br/util/artefatos/asset/n/9821596550697/img/layout/logoNagem.png" alt="Nagem.com.br">
            </a>
            <h2 class="font-baloo font-bold text-lg md:text-[2rem] text-white">Rastreio de Pedidos</h2>
        </div>
        <h2 class="mx-auto my-5 text-2xl font-bold md:my-10 md:mb-16 font-baloo text-primary">Pedido 123</h2>
        <h3 class="m-auto mb-6 text-sm font-bold md:hidden">Recebido</h3>
    </header>
    <div class="flex justify-center animate-slidein">
        <ul id="progress-bar-container" class="relative grid grid-cols-5 gap-8 mb-2 text-sm font-semibold text-center md:mb-16 md:gap-20 color-white text-neutral-400 font-baloo">
                                        <li class="relative">
                    <span class="flex justify-center m-auto md:mb-4 items-center rounded-full aspect-square w-10 md:w-16 bg-success text-white">
                        <span class="md:scale-100 scale-[.57]"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.0832 16.1583V17.5C32.0814 20.6448 31.0631 23.7047 29.1801 26.2235C27.2972 28.7423 24.6505 30.5849 21.6347 31.4765C18.619 32.3682 15.3958 32.2611 12.4459 31.1713C9.49604 30.0814 6.97746 28.0672 5.26582 25.4291C3.55418 22.7909 2.7412 19.6701 2.94812 16.5321C3.15503 13.3942 4.37076 10.4071 6.414 8.01657C8.45723 5.62599 11.2185 3.95994 14.2859 3.26689C17.3534 2.57383 20.5627 2.89091 23.4353 4.17084" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.0833 5.83337L17.5 20.4313L13.125 16.0563" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                    </span>
                    <p class="hidden md:block text-black">Recebido</p>
                </li>
                                        <li class="relative">
                    <span class="flex justify-center m-auto md:mb-4 items-center rounded-full aspect-square w-10 md:w-16 bg-neutral-300">
                        <span class="md:scale-100 scale-[.57]"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.0832 2.91663L16.0415 18.9583" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.0832 2.91663L21.8748 32.0833L16.0415 18.9583L2.9165 13.125L32.0832 2.91663Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                    </span>
                    <p class="hidden md:block ">Despachado</p>
                </li>
                                        <li class="relative">
                    <span class="flex justify-center m-auto md:mb-4 items-center rounded-full aspect-square w-10 md:w-16 bg-neutral-300">
                        <span class="md:scale-100 scale-[.57]"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.3335 4.375H1.4585V23.3333H23.3335V4.375Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.3335 11.6666H29.1668L33.5418 16.0416V23.3333H23.3335V11.6666Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.02083 30.625C10.0344 30.625 11.6667 28.9927 11.6667 26.9792C11.6667 24.9657 10.0344 23.3334 8.02083 23.3334C6.0073 23.3334 4.375 24.9657 4.375 26.9792C4.375 28.9927 6.0073 30.625 8.02083 30.625Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.9793 30.625C28.9929 30.625 30.6252 28.9927 30.6252 26.9792C30.6252 24.9657 28.9929 23.3334 26.9793 23.3334C24.9658 23.3334 23.3335 24.9657 23.3335 26.9792C23.3335 28.9927 24.9658 30.625 26.9793 30.625Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                    </span>
                    <p class="hidden md:block ">Em trânsito</p>
                </li>
                                        <li class="relative">
                    <span class="flex justify-center m-auto md:mb-4 items-center rounded-full aspect-square w-10 md:w-16 bg-neutral-300">
                        <span class="md:scale-100 scale-[.57]"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.625 14.5834C30.625 24.7917 17.5 33.5417 17.5 33.5417C17.5 33.5417 4.375 24.7917 4.375 14.5834C4.375 11.1024 5.75781 7.76401 8.21922 5.3026C10.6806 2.84118 14.019 1.45837 17.5 1.45837C20.981 1.45837 24.3194 2.84118 26.7808 5.3026C29.2422 7.76401 30.625 11.1024 30.625 14.5834Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M17.5 18.9584C19.9162 18.9584 21.875 16.9996 21.875 14.5834C21.875 12.1671 19.9162 10.2084 17.5 10.2084C15.0838 10.2084 13.125 12.1671 13.125 14.5834C13.125 16.9996 15.0838 18.9584 17.5 18.9584Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                    </span>
                    <p class="hidden md:block ">Saiu para Entrega</p>
                </li>
                                        <li class="relative">
                    <span class="flex justify-center m-auto md:mb-4 items-center rounded-full aspect-square w-10 md:w-16 bg-neutral-300">
                        <span class="md:scale-100 scale-[.57]"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.375 13.125L17.5 2.91663L30.625 13.125V29.1666C30.625 29.9402 30.3177 30.682 29.7707 31.229C29.2237 31.776 28.4819 32.0833 27.7083 32.0833H7.29167C6.51812 32.0833 5.77625 31.776 5.22927 31.229C4.68229 30.682 4.375 29.9402 4.375 29.1666V13.125Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.125 32.0833V17.5H21.875V32.0833" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                    </span>
                    <p class="hidden md:block ">Entregue</p>
                </li>
                        <!-- Barra de progresso -->
            <div id="progress-bar-wrapper" class="absolute -z-10 py-">
                <div id="progress-bar" class="relative h-1 my-4 bg-neutral-300 md:my-8">
                    <!-- Parte ativa da barra -->
                    <div id="active-progress" class="absolute h-full bg-success" style="width: calc(12.5%);"></div>
                </div>
            </div>
        </ul>
    </div>
    <div class="container flex flex-col flex-grow px-4 py-8 mx-auto md:py-0 animate-slidein">
        <div class="grid grid-cols-3 gap-4 mt-2 mb-10 md:mx-2">
            <div class="flex md:flex-row flex-col md:items-center rounded-[10px] border-solid border border-neutral-400 px-4 md:px-6 py-4">
                <span class="relative pr-4 text-primary">
                    <span class="-ml-[30%] md:ml-0 block scale-[.6] md:scale-100"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31.6667 6.66669H8.33333C6.49238 6.66669 5 8.15907 5 10V33.3334C5 35.1743 6.49238 36.6667 8.33333 36.6667H31.6667C33.5076 36.6667 35 35.1743 35 33.3334V10C35 8.15907 33.5076 6.66669 31.6667 6.66669Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.6665 3.33331V9.99998" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.3335 3.33331V9.99998" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5 16.6667H35" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                </span>
                <div>
                    <h3 class="text-xs md:text-sm text-neutral-500">Data estimada de entrega</h3>
                    <p class="text-sm font-semibold">30/09/2024</p>
                </div>
            </div>
            <div class="flex md:flex-row flex-col md:items-center rounded-[10px] border-solid border border-neutral-400 px-4 md:px-6 py-4">
                <span class="relative pr-4 text-primary">
                    <span class="-ml-[30%] md:ml-0 block scale-[.6] md:scale-100"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27.5 15.6667L12.5 7.01666" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M35 26.6668V13.3334C34.9994 12.7489 34.8451 12.1748 34.5526 11.6687C34.26 11.1626 33.8396 10.7424 33.3333 10.4501L21.6667 3.78343C21.1599 3.49087 20.5851 3.33685 20 3.33685C19.4149 3.33685 18.8401 3.49087 18.3333 3.78343L6.66667 10.4501C6.16044 10.7424 5.73997 11.1626 5.44744 11.6687C5.1549 12.1748 5.0006 12.7489 5 13.3334V26.6668C5.0006 27.2513 5.1549 27.8254 5.44744 28.3315C5.73997 28.8376 6.16044 29.2578 6.66667 29.5501L18.3333 36.2168C18.8401 36.5093 19.4149 36.6634 20 36.6634C20.5851 36.6634 21.1599 36.5093 21.6667 36.2168L33.3333 29.5501C33.8396 29.2578 34.26 28.8376 34.5526 28.3315C34.8451 27.8254 34.9994 27.2513 35 26.6668Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.4502 11.6L20.0002 20.0167L34.5502 11.6" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20 36.8001V20.0001" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                </span>
                <div>
                    <h3 class="text-xs md:text-sm text-neutral-500">Saída da</h3>
                    <p class="text-sm font-semibold">Nagem REC</p>
                    <p class="text-sm font-semibold">50950-170</p>
                </div>
            </div>
            <div class="flex md:flex-row flex-col md:items-center rounded-[10px] border-solid border border-neutral-400 px-4 md:px-6 py-4">
                <span class="relative pr-4 text-primary">
                    <span class="-ml-[30%] md:ml-0 block scale-[.6] md:scale-100"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.3335 4.375H1.4585V23.3333H23.3335V4.375Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.3335 11.6666H29.1668L33.5418 16.0416V23.3333H23.3335V11.6666Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.02083 30.625C10.0344 30.625 11.6667 28.9927 11.6667 26.9792C11.6667 24.9657 10.0344 23.3334 8.02083 23.3334C6.0073 23.3334 4.375 24.9657 4.375 26.9792C4.375 28.9927 6.0073 30.625 8.02083 30.625Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.9793 30.625C28.9929 30.625 30.6252 28.9927 30.6252 26.9792C30.6252 24.9657 28.9929 23.3334 26.9793 23.3334C24.9658 23.3334 23.3335 24.9657 23.3335 26.9792C23.3335 28.9927 24.9658 30.625 26.9793 30.625Z" stroke="currentColor" stroke-width="3.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>
                </span>
                <div>
                    <h3 class="text-xs md:text-sm text-neutral-500">Entrega para</h3>
                    <p class="text-sm font-semibold">João Pessoa/PB</p>
                    <p class="text-sm font-semibold">50950-170</p>
                </div>
            </div>
        </div>
        <table class="hidden table-auto md:table">
            <thead>
                <tr>
                    <th class="text-start">Data / Hora</th>
                    <th class="text-start">Status</th>
                    <th class="text-start">Detalhe</th>
                    <th class="text-start">Observações</th>
                </tr>
            </thead>
            <tbody>
                                <tr>
                    <td class="text-sm text-neutral-500">09/10/2024 10:23</td>
                    <td class="font-bold text-primary">Recebido</td>
                    <td>Pedido recebido</td>
                    <td class="text-sm text-neutral-500">pedido já está em processamento</td>
                </tr>
                            </tbody>
        </table>

        <div class="flex flex-col gap-4 md:hidden font-baloo">
                        <div class="bg-white border rounded-lg table-one-tracking">
                <div class="grid grid-cols-3 gap-4">
                    <div>Data / Hora</div>
                    <div class="text-neutral-500">09/10/2024 10:23</div>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <div>Status</div>
                    <div class="font-bold text-primary">Recebido</div>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <div>Detalhes</div>
                    <div>Pedido recebido</div>
                </div>
                <div class="grid grid-cols-3 gap-4">
                    <div>Observações</div>
                    <div class="text-neutral-500">pedido já está em processamento</div>
                </div>
            </div>
                    </div>
    </div>
    </div>
    <script>
    const adjustProgressBar = function() {
        const li = document.querySelectorAll('#progress-bar-container li');
        const progressBarWrapper = document.getElementById('progress-bar-wrapper');

        if (li.length > 0 && progressBarWrapper) {
            // Calcula metade da largura do primeiro e do último <li>
            const firstLiHalfWidth = li[0].offsetWidth / 2;
            const lastLiHalfWidth = li[li.length-1].offsetWidth / 2;

            // Aplica os estilos dinamicamente ao progressBarWrapper
            progressBarWrapper.style.left = `${firstLiHalfWidth}px`;
            progressBarWrapper.style.right = `${lastLiHalfWidth}px`;
        }
    }
    document.addEventListener('DOMContentLoaded', adjustProgressBar);
    window.addEventListener('resize', adjustProgressBar);
</script>
</body>
</html>